{
  "openapi": "3.1.0",
  "info": {
    "title": "Skybase",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://skybase.novarentech.web.id/api/"
    }
  ],
  "paths": {
    "/supervisor/dashboard": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Welcome to supervisor dashboard"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "supervisor"
                          ]
                        }
                      },
                      "required": [
                        "role"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/warehouse/dashboard": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Welcome to warehouse dashboard"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "warehouse"
                          ]
                        }
                      },
                      "required": [
                        "role"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/groundcrew/dashboard": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Welcome to ground crew dashboard"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "groundcrew"
                          ]
                        }
                      },
                      "required": [
                        "role"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/test": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "API is working"
                      ]
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "timestamp"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "auth.login",
        "summary": "User login",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 6
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Login successful"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "object",
                          "properties": {
                            "user_id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "phone": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string"
                            },
                            "is_active": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "user_id",
                            "name",
                            "email",
                            "phone",
                            "role",
                            "is_active"
                          ]
                        },
                        "token": {
                          "type": "string"
                        },
                        "token_type": {
                          "type": "string",
                          "enum": [
                            "Bearer"
                          ]
                        }
                      },
                      "required": [
                        "user",
                        "token",
                        "token_type"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Invalid credentials"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Validation failed"
                      ]
                    },
                    "errors": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Login failed"
                      ]
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "operationId": "auth.register",
        "summary": "User registration",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 20
                  },
                  "password": {
                    "type": "string",
                    "minLength": 6
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "supervisor",
                      "warehouse",
                      "groundcrew"
                    ]
                  },
                  "password_confirmation": {
                    "type": "string",
                    "minLength": 6
                  }
                },
                "required": [
                  "name",
                  "email",
                  "password",
                  "role",
                  "password_confirmation"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "User registered successfully"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "object",
                          "properties": {
                            "user_id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            },
                            "email": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "phone": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "role": {
                              "type": "string"
                            },
                            "is_active": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "user_id",
                            "name",
                            "email",
                            "phone",
                            "role",
                            "is_active"
                          ]
                        },
                        "token": {
                          "type": "string"
                        },
                        "token_type": {
                          "type": "string",
                          "enum": [
                            "Bearer"
                          ]
                        }
                      },
                      "required": [
                        "user",
                        "token",
                        "token_type"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Invalid role specified"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Validation failed"
                      ]
                    },
                    "errors": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Registration failed"
                      ]
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/roles": {
      "get": {
        "operationId": "auth.getRoles",
        "summary": "Get all available roles",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "roles": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "role_id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "role_id",
                              "name"
                            ]
                          }
                        }
                      },
                      "required": [
                        "roles"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Failed to get roles"
                      ]
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "auth.logout",
        "summary": "User logout",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Logout successful"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Logout failed"
                      ]
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/profile": {
      "get": {
        "operationId": "auth.profile",
        "summary": "Get current authenticated user profile",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "object",
                          "properties": {
                            "user_id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            },
                            "email": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "phone": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "role": {
                              "type": "string"
                            },
                            "is_active": {
                              "type": "boolean"
                            },
                            "created_at": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time"
                            },
                            "updated_at": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time"
                            }
                          },
                          "required": [
                            "user_id",
                            "name",
                            "email",
                            "phone",
                            "role",
                            "is_active",
                            "created_at",
                            "updated_at"
                          ]
                        }
                      },
                      "required": [
                        "user"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Failed to get profile"
                      ]
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "auth.updateProfile",
        "summary": "Update user profile",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 20
                  },
                  "current_password": {
                    "type": "string"
                  },
                  "new_password": {
                    "type": "string",
                    "minLength": 6
                  },
                  "new_password_confirmation": {
                    "type": "string",
                    "minLength": 6
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Profile updated successfully"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "object",
                          "properties": {
                            "user_id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            },
                            "email": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "phone": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "role": {
                              "type": "string"
                            },
                            "is_active": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "user_id",
                            "name",
                            "email",
                            "phone",
                            "role",
                            "is_active"
                          ]
                        }
                      },
                      "required": [
                        "user"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Current password is incorrect"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Validation failed"
                      ]
                    },
                    "errors": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "errors"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Failed to update profile"
                      ]
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/permissions": {
      "get": {
        "operationId": "auth.checkPermissions",
        "summary": "Check user permissions for specific role",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "integer"
                        },
                        "role": {
                          "type": "string"
                        },
                        "permissions": {
                          "type": "object",
                          "properties": {
                            "is_supervisor": {
                              "type": "string"
                            },
                            "is_warehouse": {
                              "type": "string"
                            },
                            "is_groundcrew": {
                              "type": "string"
                            },
                            "can_manage_users": {
                              "type": "string"
                            },
                            "can_manage_inventory": {
                              "type": "string",
                              "description": "MVP: Ground Crew turut mengelola inventory (CRUD item & stok)"
                            },
                            "can_manage_flights": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "is_supervisor",
                            "is_warehouse",
                            "is_groundcrew",
                            "can_manage_users",
                            "can_manage_inventory",
                            "can_manage_flights"
                          ]
                        }
                      },
                      "required": [
                        "user_id",
                        "role",
                        "permissions"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Failed to check permissions"
                      ]
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/flights": {
      "get": {
        "operationId": "flight.index",
        "summary": "GET /api/flights - list scheduled flights\nRoles: supervisor | groundcrew",
        "tags": [
          "Flight"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "flights": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "flight_id": {
                                "type": "integer"
                              },
                              "aircraft": {
                                "type": "object",
                                "properties": {
                                  "aircraft_id": {
                                    "type": "integer"
                                  },
                                  "registration_code": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "type": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "required": [
                                  "aircraft_id",
                                  "registration_code",
                                  "type"
                                ]
                              },
                              "route_to": {
                                "type": "string"
                              },
                              "sched_dep": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "date-time"
                              },
                              "sched_arr": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "date-time"
                              },
                              "status": {
                                "type": "string"
                              },
                              "rescheduled_at": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "date-time"
                              },
                              "supervisor": {
                                "type": "object",
                                "properties": {
                                  "user_id": {
                                    "type": "integer"
                                  },
                                  "name": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "required": [
                                  "user_id",
                                  "name"
                                ]
                              },
                              "created_at": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "date-time"
                              }
                            },
                            "required": [
                              "flight_id",
                              "aircraft",
                              "route_to",
                              "sched_dep",
                              "sched_arr",
                              "status",
                              "rescheduled_at",
                              "supervisor",
                              "created_at"
                            ]
                          }
                        }
                      },
                      "required": [
                        "flights"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "post": {
        "operationId": "flight.store",
        "summary": "POST /api/flights - create schedule\nRole: supervisor",
        "tags": [
          "Flight"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "aircraft_id": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "registration_code": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "route_to": {
                    "type": "string"
                  },
                  "sched_dep": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "sched_arr": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "status": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "READY",
                      "DELAY",
                      "SCHEDULED"
                    ]
                  }
                },
                "required": [
                  "route_to",
                  "sched_dep"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Flight created"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "flight_id": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "flight_id"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Aircraft not found by registration_code"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "error"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "enum": [
                            "aircraft_id or registration_code is required"
                          ]
                        }
                      },
                      "required": [
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "error"
                          ]
                        },
                        "errors": {
                          "type": "object"
                        }
                      },
                      "required": [
                        "status",
                        "errors"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/flights/{flight}/reschedule": {
      "put": {
        "operationId": "flight.reschedule",
        "summary": "PUT /api/flights/{flight}/reschedule - reschedule departure/arrival\nRole: supervisor",
        "tags": [
          "Flight"
        ],
        "parameters": [
          {
            "name": "flight",
            "in": "path",
            "required": true,
            "description": "The flight flight id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sched_dep": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "sched_arr": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "status": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "READY",
                      "DELAY",
                      "SCHEDULED"
                    ]
                  }
                },
                "required": [
                  "sched_dep"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Flight rescheduled"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "flight_id": {
                          "type": "integer"
                        },
                        "sched_dep": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "sched_arr": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "status": {
                          "type": "string"
                        },
                        "rescheduled_at": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "flight_id",
                        "sched_dep",
                        "sched_arr",
                        "status",
                        "rescheduled_at"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "errors": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "status",
                    "errors"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/aircraft": {
      "post": {
        "operationId": "flight.storeAircraft",
        "summary": "POST /api/aircraft - input aircraft data (and type if needed)\nRole: supervisor",
        "tags": [
          "Flight"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type_code": {
                    "type": "string"
                  },
                  "registration_code": {
                    "type": "string"
                  },
                  "notes": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "type_code",
                  "registration_code"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Aircraft created"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "aircraft_id": {
                          "type": "integer"
                        },
                        "type_code": {
                          "type": "string"
                        },
                        "registration_code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "aircraft_id",
                        "type_code",
                        "registration_code"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "errors": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "status",
                    "errors"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/inspections/available-flights": {
      "get": {
        "operationId": "inspection.getAvailableFlights",
        "summary": "Get flight schedules available for inspection\nOnly shows flights that are SCHEDULED or READY",
        "tags": [
          "Inspection"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "flight_id": {
                            "type": "integer"
                          },
                          "aircraft": {
                            "type": "object",
                            "properties": {
                              "aircraft_id": {
                                "type": "integer"
                              },
                              "registration_code": {
                                "type": "string"
                              },
                              "type": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "aircraft_id",
                              "registration_code",
                              "type"
                            ]
                          },
                          "route_to": {
                            "type": "string"
                          },
                          "sched_dep": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "sched_arr": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "status": {
                            "type": "string"
                          },
                          "has_inspection": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "flight_id",
                          "aircraft",
                          "route_to",
                          "sched_dep",
                          "sched_arr",
                          "status",
                          "has_inspection"
                        ]
                      }
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Unauthorized"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/inspections/my-inspections": {
      "get": {
        "operationId": "inspection.getMyInspections",
        "summary": "Get my inspection history",
        "tags": [
          "Inspection"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "inspection_id": {
                            "type": "integer"
                          },
                          "flight": {
                            "type": "object",
                            "properties": {
                              "flight_id": {
                                "type": "integer"
                              },
                              "route_to": {
                                "type": "string"
                              },
                              "sched_dep": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "date-time"
                              },
                              "aircraft": {
                                "type": "object",
                                "properties": {
                                  "registration_code": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "required": [
                                  "registration_code",
                                  "type"
                                ]
                              }
                            },
                            "required": [
                              "flight_id",
                              "route_to",
                              "sched_dep",
                              "aircraft"
                            ]
                          },
                          "status": {
                            "type": "string"
                          },
                          "started_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "completed_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "overall_status": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "duration_minutes": {
                            "type": "string"
                          },
                          "items_count": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "items_passed": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "items_failed": {
                            "type": "integer",
                            "minimum": 0
                          }
                        },
                        "required": [
                          "inspection_id",
                          "flight",
                          "status",
                          "started_at",
                          "completed_at",
                          "overall_status",
                          "duration_minutes",
                          "items_count",
                          "items_passed",
                          "items_failed"
                        ]
                      }
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Unauthorized"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/inspections/summary": {
      "get": {
        "operationId": "inspection.getInspectionSummary",
        "summary": "Get inspection summary statistics",
        "tags": [
          "Inspection"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total_inspections": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "completed_inspections": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "in_progress_inspections": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "passed_inspections": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "failed_inspections": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "avg_inspection_time": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "integer"
                            },
                            {
                              "type": "null"
                            },
                            {
                              "type": "integer",
                              "enum": [
                                0
                              ]
                            }
                          ]
                        }
                      },
                      "required": [
                        "total_inspections",
                        "completed_inspections",
                        "in_progress_inspections",
                        "passed_inspections",
                        "failed_inspections",
                        "avg_inspection_time"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Unauthorized"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/inventory/groundcrew": {
      "get": {
        "operationId": "inventory.getMyInventory",
        "summary": "Get groundcrew inventory (DOC & ASE)",
        "tags": [
          "Inventory"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "doc_inventory": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/GcDocInventory"
                          }
                        },
                        "ase_inventory": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/GcAseInventory"
                          }
                        }
                      },
                      "required": [
                        "doc_inventory",
                        "ase_inventory"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Unauthorized"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/inventory/groundcrew/doc": {
      "post": {
        "operationId": "inventory.addDocItem",
        "summary": "Add DOC item to groundcrew inventory",
        "tags": [
          "Inventory"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "item_id": {
                    "type": "integer"
                  },
                  "quantity": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "doc_number": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 100
                  },
                  "revision_no": {
                    "type": "string",
                    "maxLength": 50
                  },
                  "effective_date": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "condition": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 100
                  }
                },
                "required": [
                  "item_id",
                  "quantity",
                  "revision_no"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "DOC item added to inventory"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/GcDocInventory"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Item must be DOC category"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Unauthorized"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/inventory/groundcrew/ase": {
      "post": {
        "operationId": "inventory.addAseItem",
        "summary": "Add ASE item to groundcrew inventory",
        "tags": [
          "Inventory"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "item_id": {
                    "type": "integer"
                  },
                  "serial_number": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "seal_number": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 100
                  },
                  "expires_at": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  },
                  "condition": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 100
                  }
                },
                "required": [
                  "item_id",
                  "serial_number"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "ASE item added to inventory"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/GcAseInventory"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Item must be ASE category"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Unauthorized"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/inventory/groundcrew/transfer-to-aircraft": {
      "post": {
        "operationId": "inventory.transferToAircraft",
        "summary": "Transfer item from GC inventory to aircraft",
        "tags": [
          "Inventory"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "doc",
                      "ase"
                    ]
                  },
                  "inventory_id": {
                    "type": "integer"
                  },
                  "aircraft_id": {
                    "type": "integer"
                  },
                  "quantity": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "required": [
                  "type",
                  "inventory_id",
                  "aircraft_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "ASE item transferred to aircraft"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/AircraftAseInventory"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Unauthorized"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Failed to transfer item"
                      ]
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/inventory/aircraft/{aircraftId}": {
      "get": {
        "operationId": "inventory.getAircraftInventory",
        "summary": "Get aircraft inventory",
        "tags": [
          "Inventory"
        ],
        "parameters": [
          {
            "name": "aircraftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "aircraft": {
                          "type": "string"
                        },
                        "doc_inventory": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AircraftDocInventory"
                          }
                        },
                        "ase_inventory": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AircraftAseInventory"
                          }
                        }
                      },
                      "required": [
                        "aircraft",
                        "doc_inventory",
                        "ase_inventory"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/inventory/items/{category}": {
      "get": {
        "operationId": "inventory.getAvailableItems",
        "summary": "Get available items for inventory",
        "tags": [
          "Inventory"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "description": "**Optional**",
            "schema": {
              "type": "string",
              "default": null
            },
            "x-optional": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ItemCatalog"
                      }
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/items": {
      "get": {
        "operationId": "item.index",
        "summary": "Get all items from catalog",
        "tags": [
          "Item"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ItemCatalog"
                      }
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "post": {
        "operationId": "item.store",
        "summary": "Create new item (supervisor only)",
        "tags": [
          "Item"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "DOC",
                      "ASE"
                    ]
                  },
                  "unit": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 50
                  },
                  "requires_doc_number": {
                    "type": "boolean"
                  },
                  "requires_revision": {
                    "type": "boolean"
                  },
                  "requires_effective": {
                    "type": "boolean"
                  },
                  "requires_serial": {
                    "type": "boolean"
                  },
                  "requires_seal": {
                    "type": "boolean"
                  },
                  "requires_expiry": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "category"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Item created successfully"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/ItemCatalog"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Unauthorized"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/items/{id}": {
      "get": {
        "operationId": "item.show",
        "summary": "Get single item detail",
        "tags": [
          "Item"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "put": {
        "operationId": "item.update",
        "summary": "Update item (supervisor can edit all, groundcrew can edit specific fields)",
        "tags": [
          "Item"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "DOC",
                      "ASE"
                    ]
                  },
                  "unit": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 50
                  },
                  "requires_doc_number": {
                    "type": "boolean"
                  },
                  "requires_revision": {
                    "type": "boolean"
                  },
                  "requires_effective": {
                    "type": "boolean"
                  },
                  "requires_serial": {
                    "type": "boolean"
                  },
                  "requires_seal": {
                    "type": "boolean"
                  },
                  "requires_expiry": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "In real app, this would update inventory tables, not catalog\nFor now, just return success without actual update",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "success"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "enum": [
                            "Item updated successfully"
                          ]
                        },
                        "data": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "status",
                        "message",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "success"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "enum": [
                            "Item updated successfully (demo)"
                          ]
                        },
                        "data": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "status",
                        "message",
                        "data"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "No valid fields to update for your role"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "Unauthorized"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "item.destroy",
        "summary": "Delete item (supervisor only)",
        "tags": [
          "Item"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Item deleted successfully"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
[...]
